APP_NAME=price-updater-backend
APP_ENV=dev
DEBUG=true
OUTPUT_ROOT=./runtime_outputs
TMP_ROOT=./runtime_tmp

EXTRACTION_BACKEND=camelot

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us
GOOGLE_DOCAI_PROCESSOR_ID=
GOOGLE_DOCAI_PROCESSOR_VERSION=
