APP_NAME=price-updater-backend
APP_ENV=dev
DEBUG=true
OUTPUT_ROOT=./runtime_outputs
TMP_ROOT=./runtime_tmp

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.4

GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=us
GOOGLE_DOCAI_PROCESSOR_ID=
